<div class="grid grid-rows-[1fr_auto] min-h-screen">
  <main class="p-4 pb-16"> <!-- Ensure pb-16 (or similar) is enough to clear the footer -->
    <router-outlet></router-outlet>
  </main>

  <footer *ngIf="showNavigation"
          class="fixed bottom-0 left-0 w-full p-4 bg-transparent z-50"
          >
    <nav class="grid grid-cols-3 w-full">
      <a routerLink="/scan" routerLinkActive="font-bold text-blue-900" class="text-center text-blue-400">
        <i class="pi pi-qrcode text-base"></i>
      </a>
      <a routerLink="/pantry" routerLinkActive="font-bold text-blue-900" class="text-center text-blue-400">
        <i class="pi pi-chart-bar text-base"></i>
      </a>
      <a routerLink="/recipes" routerLinkActive="font-bold text-blue-900" class="text-center text-blue-400">
        <i class="pi pi-microchip-ai text-base"></i>
      </a>
    </nav>
  </footer>
</div>
